<legend><center><h2> Resource searching </h2></center></legend>
<div class="search">
  <div class="span3">
    <label for="res_s_name"> Resource name <span style="color: red">*</span> </label>
    <input id="res_s_name" type="text" class="input-medium search-query">
    <label for="res_s_stat" > Resource status </label>
    <input id="res_s_stat" type="text" class="input-medium search-query">
  </div>
  <div class="span3">
    <label for="res_s_ext_sys"> External  system </label>
    <input id="res_s_ext_sys" type="text" class="input-medium search-query">
    <label for="res_s_owner" > Owner </label>
    <input id="res_s_owner" type="text" class="input-medium search-query">
  </div>
  <div class="span3">
    <label for="res_s_loc"> Location </label>
    <input id="res_s_loc" type="text" class="input-medium search-query">
    <label for="res_s_dep" > Department </label>
    <input id="res_s_dep" type="text" class="input-medium search-query">
  </div>
</div>

<div class="span12">
    <p id="search_err"></p>
  <a class="btn btn-primary button-right" href="/resource/"><i class="icon-plus-sign"></i>Create</a>
  <button id="btn_search" class="btn btn-primary button-right" onClick="searchResource();"><i class="icon-search"></i>Search</button>
</div><br><br><br><br><br><br><br>

<script>
    $("#res_s_name").val('{{ search_spec_name }}');
    $("#res_s_name").focus();

    $(".search").keyup(function(event){
        if(event.keyCode == 13){
            $("#btn_search").click();
        }
    });
</script>