<legend><center><h2> Resource searching </h2></center></legend>
<div class="search">
  <div class="span3">
    <label for="specification_name"> Resource name </label>
    <input id="specification_name" type="text" class="input-medium search-query">
    <label for="status" > Resource status </label>
    <input id="status" type="text" class="input-medium search-query">
  </div>
  <div class="span3">
    <label for="external_system"> External  system </label>
    <input id="external_system" type="text" class="input-medium search-query">
    <label for="owner" > Owner </label>
    <input id="owner" type="text" class="input-medium search-query">
  </div>
  <div class="span3">
    <label for="location"> Location </label>
    <input id="location" type="text" class="input-medium search-query">
    <label for="department" > Department </label>
    <input id="department" type="text" class="input-medium search-query">
  </div>
</div>

<div class="span12">
    <p id="search_err"></p>
  <a class="btn btn-primary button-right" href="/resource/"><i class="icon-plus-sign"></i>Create</a>
  <button id="btn_search" class="btn btn-primary button-right" onClick="searchResource();"><i class="icon-search"></i>Search</button>
</div><br><br><br><br><br><br><br>

<script>
    $("#res_s_name").val('{{ search_spec_name }}');
    $("#res_s_name").focus();

    $(".search").keyup(function(event){
        if(event.keyCode == 13){
            $("#btn_search").click();
        }
    });
</script>