{% extends "base.html" %}
{% block form %}
<center><legend><h2> Collection </h2></legend></center>
<form id="form_res" class="form-inline">
    <div class="span3 control-group">
        <input id="res_id" type="hidden" value='{{ coll_id }}'>
        <label class="control-label">Collection type</label>

        <select id="res_name" onChange="select_name_res()" >
            <option id='root_opt'></option>
            {% for item in items_list %}
            <option id='{{ item.id }}'> {{ item.type_name }} </option>
            {% endfor %}
        </select>
        <label for="coll_allow_type">Allowed types</label>
        <input id="coll_allow_type" type="text" class="input" disabled="disabled">
    </div>
    <!--<div class="span3">
        <label> Resources </label>
        <select multiple="multiple">
            <option>1</option>
            <option selected>2</option>
            <option>3</option>
        </select>
    </div>-->
    <div class="span3">
        <label for="elem_desc">Description</label>
        <input id="elem_desc" type="text" class="input">
    </div>
</form><br><br><br>

<script>
    //$("#root_opt").html('{{ res_name }}');
    $("#res_desc").val('{{ coll_desc }}');
    $(".input").keyup(function(event){ $("#save_res").removeAttr('disabled'); });
</script>

<div class="span12">
    <p id="field_err_2"></p>
    <button id="save_res" type="submit" class="btn btn-primary button-right" disabled="true" onClick="saveElement('collection');"><i class="icon-ok-sign"></i> Save </button>
</div><br><br><br><br><br>
{% endblock %}

{% block table %}
<legend><b><em>Collection parameters</em></b></legend>
{% include "includes/element_param.html" %}
{% endblock %}