{% extends "base.html" %}
{% block form %}
{% include "includes/collection_search_block.html"%}
{% endblock %}

{% block table %}
<div class="hero-unit">
    <center><h3>Result searching</h3></center>
    <table id="search" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"  class="display">
        <thead>
        <tr>
            <th> # </th>
            <th> Name </th>
            <th> Description </th>
            <th> Allowed types </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        {% for name in res_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ name.specification_name }}</td>
            <td>{{ name.description }}</td>
            <td>
                {% for allow in name.allowed_types %}
                {{ allow }}
                {% endfor %}
            </td>
            <td>
                {% include "includes/element_search_btn.html"%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}