{% extends "base.html" %}
{% block form %}
<center><legend><h2>Collection specification</h2></legend></center>
<form id="form_spec" class="form-inline">
  <div class="span4">
    <label>Specification name <span style="color: red">*</span></label>
    <input id="spec_name" name="name" type="text" class="input required">
    <input id="spec_id" type="hidden" value='{{ spec_id }}'>
    <div class="control-group">
      <label class="control-label">Parent specification</label>
      <div class="controls">
        <select id="parent_spec" onChange="select_name()">
          <option id='root_opt'></option>
          {% for item in items_list %}
          <option id='{{ item.id }}'> {{ item.type_name }} </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="span3">
        <label>Allowed types<span style="color: red">*</span></label>
    <input id="allowed_types" type="text" class="input required">
    <label>Description</label>
    <input id="spec_desc" name="parent" type="text" class="input">
  </div>
</form><br><br><br><br><br>
<script>$("#spec_name").val('{{ spec_name }}'); $("#spec_desc").val('{{ spec_desc }}'); $("#parent_spec").val('{{ parent_spec }}');

//$("#allowed_types").val('{{ allowed_types }}');
  $("#spec_name").focus()
  $(".input").keyup(function(event){ $("#save_spec").removeAttr('disabled'); });
</script>
<p id="field_err_2"></p>
<div>
  <button id="save_spec" type="submit" class="btn btn-primary button-right" disabled="true" onClick="saveSpecification('collection');"><i class="icon-plus"></i> Save </button>
</div><br>
{% endblock %}

{% block table%}
{% include "includes/spec_param.html" %}
{% endblock %}