<html>
<title>Информация о товаре</title>
<body bgcolor="#CD950C" text="#2F4F4F"> 
<table id="tab1" class="sortable">
 
<thead>
<td width="100%">
<table border="1" width="100%" bgcolor="#F0F8FF">
 
<tr>
<th><H3>Name</H3></th>
<th><H3>Value</H3></th>
<th><H3>Price</H3></th>
<th><H3>Удалить</H3></th>
</tr>
</thead>
<tbody><H3><U> Информация о товаре </U></H3></tbody>
</table>
 
 
<form action="" id="add_persons" method="post" onsubmit="addRow();return false;">
<fieldset>
<Legend align="center"><I><H3>Добавить товар</H3></I></Legend>
<ul>
<li>
<label for="name"><H4>Название товара</label>
<input type="text" name="name" id="name" value="" size="22" tabindex="1" />
</li>
<li>
<label for="value_my"><H4>Количество</label>
<input type="text" name="value_my" id="value_my" value="" size="28" tabindex="2" />
</li>
<li>
<label for="price"><H4>Стоимость</label>
<input type="text" name="price" id="price" value="" size="30" tabindex="3" />
</li>
<li>
<label for="subm"><H4>Действия</label>
<input type="submit" name="subm" class="submit" value="Добавить" tabindex="4" />
<input type="reset" name="subm" class="submit" value="Очистить форму" tabindex="4" />
 
 
</li>
</ul>
</fieldset>
</form>
 
 
<script>
var d = document;
 
var name;
var value_my;
var price;
 
function addRow()
{
// Считываем значения с формы
name = d.getElementById('name').value;
value_my = d.getElementById('value_my').value;
price = d.getElementById('price').value;
 
// Находим нужную таблицу
var tbody = d.getElementById('tab1').getElementsByTagName('TBODY')[0];
 
// Создаем строку таблицы и добавляем ее
var row = d.createElement("TR");
tbody.appendChild(row);
 
// Создаем ячейки в вышесозданной строке
// и добавляем тх
var td1 = d.createElement("TD");
var td2 = d.createElement("TD");
var td3 = d.createElement("TD");
var td4 = d.createElement("TD");
 
 
row.appendChild(td1);
row.appendChild(td2);
row.appendChild(td3);
row.appendChild(td4);
td4.setAttribute ('onmousedown', 'this.parentNode.parentNode.removeChild (this.parentNode);');
 
// Наполняем ячейки
td1.innerHTML = name;
td2.innerHTML = value_my;
td3.innerHTML = price;
td4.innerHTML = 'Удалить';
 
}
 
 
</script>
 
</head>
 
<p><img src="тайд.jpg" align="left"></p>
 
</body>
</html>