<div id="tab_params_child" class="hero-unit" >
<table align='center' id="addParams" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" class="display">
<caption><h3>Created parameter specification</h3></caption>
<thead>
  <tr>
    <th>Parameter name</th>
    <th>Parameter type</th>
    <th>Parameter description</th>
    <th>List of possible values</th>
    <th>Default values</th>
    <th>Mandatory</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{ name.param_name }}</td>
    <td>{{ name.param_type }}</td>
    <td>{{ name.description }}</td>
    <td>{{ name.possible_values }}</td>
    <td>{{ name.default_value }}</td>
    <td>{{ name.mandatory }}</td>
    <td><center>
      <button id="delete_row" class="btn btn-mini btn-danger" onclick="delParamRow(this.parentNode.parentNode.parentNode.rowIndex)"><i class="icon-remove" title="Delete parameter specification"></i></button>
      <a id="edit_row" class="btn btn-mini btn-warning" onClick="editParamRow(this.parentNode.parentNode.parentNode.rowIndex);"><i class="icon-edit" title="Edit parameter"></i></a>
      <!--<button  data-toggle="modal" name="{{ name.id }}" data-target="#infoModal" class="btn btn-mini btn-success" onClick=""><i class="icon-info-sign" title="Edit childrens"></i></button>-->
      <button id="edit_child" name="{{ name.id }}" class="btn btn-mini btn-success" onClick="editChild(this.name)"><i class="icon-info-sign" title="Edit childrens"></i></button>
    </center>
    </td>
  </tr>
</tbody>
</table>
</div>