{% extends "base.html" %}
{% block form %}
<center><legend><h2> Collection </h2></legend></center>
<form id="form_res" class="form-inline">
    <div class="span3 control-group">
        <input id="res_id" type="hidden" value='{{ coll_id }}'>
        <label class="control-label">Collection type</label>
        <select id="res_name" disabled="disabled"></select>
        <label for="coll_allow_type">Allowed types</label>
        <input id="coll_allow_type" type="text" class="input" disabled="disabled">
    </div>
    <div class="span3">
        <label for="elem_desc">Description</label>
        <input id="elem_desc" type="text" class="input">
    </div>
</form><br><br><br>

<script>
    //$("#res_desc").val('{{ coll_desc }}');
    $.ajax({
        type: "GET",
        url: "/get_collection_params/",
        data: "coll_id=" + $("#res_id").val(),
        dataType : "json",
        success: function(data){
            $("#elem_desc").val(data.coll_info.description);
            $("#coll_allow_type").val(data.allowed_types);
            $("<option></option>", {value: data.coll_info._id,
                text: data.coll_info.specification_name}).appendTo('#res_name');

            // TreeMenu
            RES_PARAM_DICT.additional_parameters = data.coll_info.additional_parameters;
            var treeView = $("#treeViewRes").kendoTreeView({template: kendo.template($("#treeview-template").html())}).data("kendoTreeView");
            SPEC_PARAM_LIST = data.coll_spec;
            ITEMS.push({ id: 'root_node', text: 'List of specification parameters',items: []}); //expanded: true,
            if (data.items != undefined){
                ITEMS[0].items = data.items;
                treeView.append(ITEMS);
                $(".k-first .k-in").dblclick()
            }

        },
        error: function(xhr, str){
            alert('Возникла ошибка: ' + xhr.responseText);
        }
    });
    $(".input").keyup(function(event){ $("#save_res").removeAttr('disabled'); });

</script>

<div class="span12">
    <p id="field_err_2"></p>
    <button id="save_res" type="submit" class="btn btn-primary button-right" disabled="true" onClick="saveElement('collection');"><i class="icon-ok-sign"></i> Save </button>
</div><br><br><br><br><br>
{% endblock %}

{% block table %}
<legend><b><em>Collection parameters</em></b></legend>
{% include "includes/element_param.html" %}
{% endblock %}