<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ MEDIA_URL }}/media/css/kendo.default.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}/media/css/kendo.common.min.css" rel="stylesheet">
 </head>
  <body>
	<div id="treeViewChild"></div>
	
	<script>

	var items = []
	var treeView = $("#treeViewChild").kendoTreeView().data("kendoTreeView");

	items.push({ id: 'root_node', text: 'List of specification parameters',items: []})
	items[0].items = '{{ items }}'
	//alert('{{ items }}')
	treeView.append(items);
    //$(".k-first .k-in").dblclick()
	</script>


    <script src="{{ MEDIA_URL }}/media/js/kendo.treeview.min.js"></script>
    <script src="{{ MEDIA_URL }}/media/js/kendo.web.min.js"></script>

</body>
</html>