{% extends "base.html" %}
{% block form %}
<center><legend><h2>Connection specification</h2></legend></center>
<form id="form_spec" class="form-inline">
  <div class="span4">
    <label>Specification name <span style="color: red">*</span></label>
    <input id="spec_name" name="name" type="text" class="input required" disabled="disabled">
    <input id="spec_id" type="hidden" value='{{ spec_id }}'>
    <div class="control-group">
      <label class="control-label">Parent specification</label>
      <div class="controls">
        <select id="parent_spec" disabled="disabled">
        </select>
      </div>
    </div>
  </div>
  <div class="span4">
    <label>Connection type<span style="color: red">*</span></label>
    <input id="connion_type" type="text" class="input required">
    <label>Connected type<span style="color: red">*</span></label>
    <input id="conned_type" type="text" class="input required">
  </div>
  <div class="span3">
    <label>Description</label>
    <input id="spec_desc" name="parent" type="text" class="input">
  </div>
</form><br><br><br><br>

<p id="field_err_2"></p>
<div>
  <button id="save_spec" type="submit" class="btn btn-primary button-right" disabled="disabled" onClick="saveSpecification('connection');"><i class="icon-plus"></i> Save </button>
</div><br><br>

<script>
    $.ajax({
        type: "GET",
        url: "/get_specification_params/",
        data: "spec_id=" + $("#spec_id").val(),
        dataType : "json",
        success: function(data){
            $("#spec_name").val(data.spec_info.type_name);
            $("#spec_desc").val(data.spec_info.description);
            $("<option></option>", {value: '', text: data.spec_info.parent_type_name}).appendTo('#parent_spec');
            $("#connion_type").val(data.spec_info.connecting_type);
            $("#conned_type").val(data.spec_info.connected_type);

            // TreeMenu
            var treeView = $("#treeView").kendoTreeView({template: kendo.template($("#treeview-template").html())}).data("kendoTreeView");
            SPEC_PARAM_LIST = data.spec_info.params_spec;
            ITEMS.push({ id: 'root_node', text: 'List of specification parameters',items: []}); //expanded: true,
            if (data.items != undefined){
                ITEMS[0].items = data.items;
                treeView.append(ITEMS);
                $(".k-first .k-in").dblclick()
            }

        },
        error: function(xhr, str){
            alert('Возникла ошибка: ' + xhr.responseText);
        }
    });
    $(".input").keyup(function(event){ $("#save_res").removeAttr('disabled'); });

</script>

{% endblock %}

{% block table %}
{% include "includes/spec_param.html" %}
{% endblock %}