.ex_highlight #search tbody tr.even:hover, #search tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #search tbody tr.odd:hover, #search tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #search tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #search tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #search tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #search tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #search tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #search tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #search tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #search tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}